.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.Profile img {
    width: 50px;
    height: 60px;
    border-radius: 50%;
    
}


.Profile-info{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 0px;
}

.Profile-info h3{
    
}

.Profile-info p{

}



@media (max-width: 700px){
    .header {
      display: flex;
      justify-content: center;
       
      background: red;
    }

    .Profile img {
        width: 30px;
        height: 40px;
        border-radius: 50%;
        
    }
    
}